.justify{
    justify-content: center;
}
.weui-cell{
    padding: 10px 0;
}
.weui-input{
    padding: 5px 3px;
}
.page .weui-flex .check-select{
    flex: 2;
}
.weui-label{
    margin-left: 20px;
}
.page .weui-flex .weui-flex__item .check-explain{
    margin-top: 30px;
}